<div class=" preHeadings">
    <div class="cell benchmark">
        <input type="button" class="benchmarkButton" value="View Benchmark"> 
    </div>
    <div class="cell empty">
    </div>
    <div class="cell empty">
    </div>
    <div class="cell dateHeader">
        <label>AS OF</label> <br>
        <span>{{AsOfDate}}</span>
    </div>
    <div class="monthlyQuarterly">
        <div class="buttonGroup">
            <input type="button" class="cell monthly" value="Monthly">
            <input type="button" class="cell quarterly" value="Quarterly">
        </div> 
        <div class="tabDescription" >
            ANNUALIZED NET RETURNS AS OF 
            <span>{{AsOfDateMonthly}}</span>
        </div>
    </div>
    <div class="cell expenseRatio">
        <label>EXPENSE RATIO</label>
        <sup>1</sup>
    </div>
</div>